{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ".eslintrc",
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
